{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container">
  <div id="work_area" style="width: 80%; margin: 0 auto;">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">О нас</li>
      </ol>
    </nav>

    <h1 style="margin-bottom: 20px;">ТОО КСИ «Фактор»</h1>
    <div itemscope itemtype="http://schema.org/Organization">
      <p>
        <span itemprop="name"><strong>«Компания системных исследований «Фактор»</strong> было создано в 2005 году и предоставляет консалтинговые услуги в области экономики, финансов, управленческого консалтинга, функционального моделирования и IT-услуг. Компанией успешно реализовано более 150 крупных проектов для различных центральных и местных государственных органов, национальных компаний и холдингов, бизнес-ассоциаций, фондов и частных предприятий.</span>
      </p>
      <p>
        <span itemprop="name">В базе знаний КСИ «Фактор» имеются большое количество методик и систем решения, которые обеспечивают качественное и оперативное решение задач наших клиентов. Многие методики и инструменты являются собственными разработками и не имеют аналогов.</span>
      </p>
      <p>
        <span itemprop="name">КСИ «Фактор» аккредитован в качестве субъекта научной (научно-технической) деятельности в Министерстве образования и науки Республики Казахстан.</span>
      </p>
      <p>
        
      </p>
    </div>

    <article class="blog-post">
      <h2 class="blog-post-title mb-4" >Добро пожаловать на сайт компании ТОО КСИ «Фактор»!</h2>

      <p>Мы — ведущая компания системных исследований в Казахстане, специализирующаяся на информационных системах. С нами вы получаете экспертные консультации в области экономики, финансов, управленческого консалтинга, функционального моделирования и IT-услуг.</p>
      <blockquote>
        <p>За наши плечами более 150 успешно реализованных проектов для различных государственных органов, национальных компаний, бизнес-ассоциаций и частных предприятий. Наш опыт и непревзойденное качество работы говорят сами за себя.</p>
      </blockquote>
      <p>Доверьтесь нам, и мы поможем вам достичь ваших целей в сфере информационных систем. Свяжитесь с нами сегодня и начните сотрудничество с нашей компанией, которая заботится о вашем успехе.</p>
      
    </article>
  </div>
</section>


{% endblock %}