{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="nav flex-column nav-pills nav-tabs-vertical" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="tab2017" data-bs-toggle="pill" href="#content2017" role="tab" aria-controls="content2017" aria-selected="true">2017</a>
          <a class="nav-link" id="tab2016" data-bs-toggle="pill" href="#content2016" role="tab" aria-controls="content2016" aria-selected="false">2016</a>
          <a class="nav-link" id="tab2015" data-bs-toggle="pill" href="#content2015" role="tab" aria-controls="content2015" aria-selected="false">2015</a>
          <a class="nav-link" id="tab2014" data-bs-toggle="pill" href="#content2014" role="tab" aria-controls="content2014" aria-selected="false">2014</a>
          <a class="nav-link" id="tab2013" data-bs-toggle="pill" href="#content2013" role="tab" aria-controls="content2013" aria-selected="false">2013</a>
          <a class="nav-link" id="tab2012" data-bs-toggle="pill" href="#content2012" role="tab" aria-controls="content2012" aria-selected="false">2012</a>
          <a class="nav-link" id="tab2011" data-bs-toggle="pill" href="#content2011" role="tab" aria-controls="content2011" aria-selected="false">2011</a>
          <a class="nav-link" id="tab2010" data-bs-toggle="pill" href="#content2010" role="tab" aria-controls="content2010" aria-selected="false">2010</a>
          <a class="nav-link" id="tab2009" data-bs-toggle="pill" href="#content2009" role="tab" aria-controls="content2009" aria-selected="false">2009</a>
          <a class="nav-link" id="tab2008" data-bs-toggle="pill" href="#content2008" role="tab" aria-controls="content2008" aria-selected="false">2008</a>
          <a class="nav-link" id="tab2007" data-bs-toggle="pill" href="#content2007" role="tab" aria-controls="content2007" aria-selected="false">2007</a>
          <a class="nav-link" id="tab2006" data-bs-toggle="pill" href="#content2006" role="tab" aria-controls="content2006" aria-selected="false">2006</a>
          <a class="nav-link" id="tab2005" data-bs-toggle="pill" href="#content2005" role="tab" aria-controls="content2005" aria-selected="false">2005</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="content2017" role="tabpanel" aria-labelledby="tab2017">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2017 год</h4>
            <ul>
                <li><p>«Сопровождение и системно-техническое обслуживание системы электронного архива (СЭАГО)» по заказу ГУ «Архив Президента Республики Казахстан»</p></li>
                <li><p>«Разработка функционала преобразования входной информации аналитическим сервером для промежуточного хранения» по заказу ОЮЛ «Казахстанская ассоциация инновационных предприятий»</p></li>
                <li><p>«Разработка функционала обработки промежуточной информации для обработки, визуализации и передачи» по заказу ОЮЛ «Казахстанская ассоциация инновационных предприятий»</p></li>
                <li><p>«Разработка формата обмена данными с крупноблочными интеллектуальными видеокамерами» по заказу ОЮЛ «Казахстанская ассоциация инновационных предприятий»</p></li>
                <li><p>«Создание опытного производства и технологии разработки мобильных роботов с подъемниками для автоматизации погрузочно-разгрузочных и транспортных операций» по заказу РГП на ПХВ «Институт механики и машиноведения имени У.А. Джолдасбекова»</p></li>
                <li><p>«Разработка синхронизатора ТОФИ для обмена данными и метаданными между информационными системами» по заказу ГУ «Комитет науки Министерства образования и науки РК»</p></li>
                <li><p> «Услуги по разработке информационной системы оценки эффективности проектов ГЧП по основе технологии ТОФИ для реализации проекта «Развитие механизмов государственно-частного партнерства в приоритетных отраслях форсированного индустриально-инновационного развития» по заказу Учреждения «Казахский университет экономики, финансов и международной торговли»</p></li>
                <li><p>«Услуги по установке и настройке программного обеспечения» по заказу АО «КТЖ-Грузовые перевозки»</p></li>
                <li><p>Республиканское государственное казенное предприятие "Национальный центр тестирования" Министерства образования и науки Республики Казахстан «Услуги по аутстаффингу персонала»</p></li>
                <li><p>Некоммерческое акционерное общество «Государственная корпорация «Правительство для граждан» «Услуги консультационные по вопросам ценообразования/тарифной политики»</p></li>
                <li><p>Некоммерческое акционерное общество «Государственная корпорация «Правительство для граждан» «Разработка тарифов по оказанию государственных услуг Центрами обслуживания населения»</p></li>
                <li><p>Государственное учреждение "Министерство труда и социальной защиты населения Республики Казахстан" «Проведение исследования по вопросам изменения структуры экономики и рынка труда в Республике Казахстан до 2050 года»</p></li>
                <li><p>Государственное учреждение "Министерство труда и социальной защиты населения Республики Казахстан" «Роль профессиональных союзов в трудовых отношениях, в том числе в урегулировании коллективных трудовых споров»</p></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="content2016" role="tabpanel" aria-labelledby="tab2016">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2016 год</h4>
            <ul>
                <li><p>«Базовый комплект лицензий - лицензии для аналитической платформы по заказу АО «НАК «Казатомпром»</p></li>
                <li><p>«Сопровождение и системно-техническое обслуживание системы электронного архива (СЭАГО)» по заказу ГУ «Архив Президента Республики Казахстан»</p></li>
                <li><p>«Программное обеспечения «Система мониторинга и оценки залогового обеспечения» по заказу АО «ИО «Казахстанская ипотечная компания»</p></li>
                <li><p>«Сопровождение функциональных возможностей автоматизированная система актово-претензионной работы на верхнем уровне АО «НК КТЖ»</p></li>
                <li><p>«Сопровождение и техническая поддержка информационной системы для нужд АО «Казтранссервис» на 2016год</p></li>
                <li><p>«Разработка синхронизатора ТОФИ для обмена данными и метаданными между информационными системами» по заказу ГУ «Комитет науки Министерства образования и науки РК»</p></li>
                <li><p>«Разработка проекта Закона РК «Об оборонной промышленности и оборонном заказе» на основе анализа важнейших факторов влияющих на развитие отрасли, перспектив и направлений развития» РОО «Ветераны органов КНБ Республики Казахстан»</p></li>
                <li><p>Услуги по разработке информационной системы оценки эффективности проектов ГЧП на основе технологии ТОФИ для реализации проекта «Развитие механизмов государственно-частного партнерства в приоритетных отраслях форсированного индустриального-инновационного развития» по заказу Учреждении Казахский университет экономики, финансов и международной торговли</p></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="content2015" role="tabpanel" aria-labelledby="tab2015">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2015 год</h4>
            <ul>
                <li><p>«Услуги по созданию функциональной подсистемы «Управление архитектуры и градостроительства» акимата города Астаны по заказу ГУ «Аппарат акима города Астаны»</p></li>
                <li><p>«Услуги по созданию функциональной подсистемы «Управление внутренней политики» акимата города Астаны по заказу ГУ «Аппарат акима города Астаны»</p></li>
                <li><p>«Услуги по созданию функциональной подсистемы «Управление предпринимательства и промышленности» акимата города Астаны по заказу ГУ «Аппарат акима города Астаны»</p></li>
                <li><p>«Услуги по созданию функциональной подсистемы «Управление природных ресурсов и регулирования природопользования» акимата города Астаны по заказу ГУ «Аппарат акима города Астаны»</p></li>
                <li><p>«Услуги по разработке Программы развития Карагандинской области на 2016 - 2020 годы» по заказу ГУ «Управление экономики и финансов Карагандинской области»</p></li>
                <li><p>«Услуги по разработке Программы развития территории города Актобе на 2016 – 2020 годы и Плана мероприятий по реализации Программы развития территории», по заказу ГУ «Отдел экономики и финансов города Актобе» Республика Казахстан</p></li>
                <li><p>«Услуги по разработке профессиональных стандартов «Судовождение на внутренних водных путях» и «Управление движением флота» по заказу Комитет транспорта Министерства по инвестициям и развитию Республики Казахстан</p></li>
                <li><p>«Услуги по разработке и внедрению классификатора профессий и должностей и тарифных условий оплаты труда (консультационные услуги по разработке Методики определения необходимых разрядов рабочих профессий по бизнес – направлению «Разведка, добыча нефти и газа») по заказу АО «НК «КМГ»</p></li>
                <li><p>«Услуги по разработке информационной системы оценки эффективности проектов ГЧП на основе технологии ТОФИ для реализации проекта «Развитие механизмов государственно-частного партнерства в приоритетных отраслях форсированного индустриально-инновационного развития» по заказу Учреждения «Казахский университет экономики, финансов и международной торговли»</p></li>
                <li><p>«Услуга по разработке технико–экономического обоснования на «Создание программно-аппаратного комплекса информационно-аналитической поддержки деятельности города» по заказу ТОО «EngineerinGroup» </p></li>
                <li><p>«Услуга по автоматизации расчетов в рамках  проекта «Развитие функциональных возможности единой интегрированной информационной системы расчета себестоимостей единой интегрированной информационной системы расчета себестоимостей услуг Грузового перевозчика и Оператора МЖС (ЕИИС РС ГП и ОМЖС)» по заказу ТОО «НИИ ЭИТТ»</p></li>
                <li><p>«Работа по выполнению научного исследования в сфере инфотелекоммуникаций на тему «Исследование возможности выхода АО «Казахтелеком» на рынок электронной коммерции и электронных платежей»</p></li>
                <li><p>Услуги по созданию подсистемы «Управление рисками» по заказу «Бай Табыс»</p></li>
                <li><p>«Выполнение научно-исследовательских работ по теме: «Разработка синхронизатора ТОФИ для обмена данными и метаданными» по заказу МОН РК </p></li>
                <li><p>«Выполнение научно-исследовательских работ по теме: «Совместные казахстанско-индийские исследования влияния антропогенных факторов на атмосферные явления на основе модели численного прогноза погоды WRF (Weather Research and Forecasting) «» по заказу МОН РК</p></li>
                <li><p>Услуги по разработке нормативов численности                                             РГП «Казаэронавигация»</p></li>
                <li><p>Услуги по сопровождению и технической поддержке информационной системы по заказу АО «Казтранссервис»</p></li>
                <li><p>Услуги по сопровождению функциональных возможностей «Автоматизированная система актово-претензионной работы га верхнем уровне АО «НК «КТЖ»</p></li>
                <li><p>«ТОФИ – среда моделирования, ТОФИ – среда администрирования, Кабинеты, система сбора данных ETL-приложение по заказу ТОО НИИ ЭИТТ</p></li>
                <li><p>Услуги по проведению отраслевых исследований в Алматинской области по ТОО «Бай Табыс»</p></li>
                <li><p>Услуги по предоставлению лицензии на использование технологии и мониторинга состоянии сложных систем ТОФИ по заказу Учреждении Казахский университет экономики, финансов и международной торговли</p></li>	
            </ul>
          </div>
          <div class="tab-pane fade" id="content2014" role="tabpanel" aria-labelledby="tab2014">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2014 год</h4>
            <ul>
                <li><p>«Выполнение научно-исследовательских работ по теме: «Совершенствование методологии и разработка инструмента технологии моделирования и мониторинга состояний сложных систем ТОФИ» по заказу ГУ «Комитет науки Министерства образования и науки Республики Казахстан» </p></li>
                <li><p>«Выполнение научно-исследовательских работ по теме: Совместные казахстанско-индийские исследования влияния антропогенных факторов на атмосферные явления на основе модели численного прогноза погоды WRF (Weather Research and Forecasting) по теме: Адаптация модели WRF к условиям Казахстана по заказу ГУ «Комитет науки Министерства образования и науки Республики Казахстан»</p></li>
                <li><p>«Выполнение научно-исследовательских работ по теме: Психология религиозно-политического экстремизма и терроризма: мировой опыт и прикладные задачи противодействия в современном Казахстане» по заказу ГУ «Комитет науки Министерства образования и науки Республики Казахстан» </p></li>
                <li><p>«Консалтинговые услуги по тарифной политике» по заказу ТОО «Транспортный холдинг Казахстана» </p></li>
                <li><p>«Услуга по развитию информационно-аналитической системы оперативного мониторинга экономических показателей Республики Казахстан» по заказу АО «Институт экономических исследований» </p></li>
                <li><p>«Консультационные услуги по вопросам управления персоналом (по оптимизации организационной структуры, численности предприятий и нормированию труда)» по заказу АО «НК «КазМунайГаз» </p></li>
                <li><p>«Услуги по развитию и внедрению ИС «Аналитический центр Акима Алматинской области»: внедрение модуля «Панель руководителя» и автоматизация функций по заказу ТОО «Бай Табыс»                   </p></li>
                <li><p>«Услуга по сопровождению функциональных возможностей Автоматизированная система актово-претензионной работы на верхнем уровне АО «НК «ҚТЖ» (Услуги по изданию (размещению) программного обеспечения в сети) по заказу АО «НК «ҚТЖ» </p></li>
                <li><p>«Услуга по разработке нормативов численности персонала АО «Транстелеком» по заказу АО «Транстелеком» </p></li>
                <li><p>«Услуга  по разработке профессиональных стандартов» по заказу ГУ «Агентство РК по делам спорта и физической культуры» </p></li>
                <li><p>«Услуга по разработке профессиональных стандартов» по заказу ГУ «Министерство транспорта и коммуникаций РК» </p></li>
                <li><p>«Оказание услуг по обучению АО «Инженерный технический центр» </p></li>
                <li><p>«Услуги по сопровождению и технической поддержке информационной системы» по заказу АО «Казтранссервис»</p></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="content2013" role="tabpanel" aria-labelledby="tab2013">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2013 год</h4>
            <ul>
                <li><p>«Услуга по развитию и сопровождению информационно-аналитической системы управления регионом (ИАСУР)» по заказу ГУ «Аппарат акима Восточно-Казахстанской области» </p></li>
                <li><p>«Проведение финансовой экспертизы деятельности  Государственного коммунального предприятия «Каспий жылу, су арнасы» Управления энергетики и жилищно-коммунального хозяйства Мангистауской области, в соответствии с требованиями Правил проведения финансовой и технической экспертиз деятельности субъектов естественных монополий» по заказу ТОО «НИИ энергоэффективных технологий и энергосбережений» </p></li>
                <li><p>«Выполнение научно-исследовательских работ по теме: «Совершенствование методологии и разработка инструмента технологии моделирования и мониторинга состояний сложных систем ТОФИ» по заказу ГУ «Комитет науки Министерства образования и науки Республики Казахстан»</p></li>
                <li><p>«Услуга по сопровождению единой интегрированной информационной системы расчета себестоимостей услуг грузового перевозчика и оператора МЖС и разработке дополнительного модуля автоматизации» по заказу ТОО «Научно-исследовательский институт экономики и информатизации транспорта, телекоммуникаций» </p></li>
                <li><p>«Выполнение научно-исследовательских работ по теме: Совместные казахстанско-индийские исследования влияния антропогенных факторов на атмосферные явления на основе модели численного прогноза погоды WRF (Weather Research and Forecasting)» по заказу ГУ «Комитет науки Министерства образования и науки Республики Казахстан» </p></li>
                <li><p>«Услуга по развитию информационной системы «Аналитический центр акима Алматинской области» по заказу ТОО «Бай Табыс» </p></li>
                <li><p>«Услуги психологического исследования», по заказу ГУ Департамент по борьбе с экономической и коррупционной преступностью (финансовая полиция) по г.Астана Агентства РК по борьбе с экономической и коррупционной преступностью (финансовая полиция) </p></li>
                <li><p>«Выполнение научно-исследовательских работ по теме: Психология религиозно-политического экстремизма и терроризма: мировой опыт и прикладные задачи противодействия в современном Казахстане» по заказу ГУ «Комитет науки Министерства образования и науки Республики Казахстан» </p></li>
                <li><p>«Услуга по восстановлению и изготовлению деталей, узлов путевых машин» по заказу АО «Национальная компания «Қазақстан темір жолы» </p></li>
                <li><p>«Разработка профессиональных стандартов для отрасли железнодорожного транспорта» по заказу ГУ «Министерство транспорта и коммуникаций Республики Казахстан» </p></li>
                <li><p>«Услуга по проведению экспертизы системы энергоменеджмента» АО «Станция Экибастузская ГРЭС-2» </p></li>
                <li><p>«Выполнение научно-исследовательских работ по теме: «Совершенствование методологии и разработка инструмента технологии моделирования и мониторинга состояний сложных систем ТОФИ»» по заказу Республиканское государственное предприятие на праве хозяйственного ведения «Восточно-Казахстанский государственный технический университет» имени Д.Серикбаева» </p></li>
                <li><p>«Разработка и консалтинговое сопровождение процедуры согласования и утверждения уполномоченными гос. органом нормативов трудоемкости на техническое обслуживание и ремонт путевых машин производства компании  Plasser &amp; Theurer (Австрия)» по заказу ТОО «Қамқор Локомотив» </p></li>
                <li><p>«Разработка и консалтинговое сопровождение процедуры согласования и утверждения уполномоченными гос. органом нормативов трудоемкости на техническое обслуживание и ремонт путевых машин производства компании  Plasser &amp; Theurer (Австрия)» по заказу ТОО «Қамқор Локомотив» </p></li>
                <li><p>«Услуги консалтинговые по вопросам оформления, переоформления, экспертизы лицензий» по заказу ТОО «Қамқор Локомотив» </p></li>
                <li><p>«Услуга по разработке тарифной сметы и расчету прогнозного тарифа на услугу по предоставлению подъездных путей ТОО «Транспортный холдинг Казахстана» для стоянки подвижного состава» по заказу ТОО «Транспортный холдинг Казахстана»</p></li>
                <li><p>«Услуга по проведению технической экспертизы деятельности субъекта естественных монополий ТОО «Транспортный холдинг Казахстана» по заказу ТОО «Транспортный холдинг Казахстана» </p></li>
                <li><p>«Услуга по проведению финансовой экспертизы деятельности субъекта естественных монополий ТОО «Транспортный холдинг Казахстана» по заказу ТОО «Транспортный холдинг Казахстана» </p></li>
                <li><p>ТОФИ – среда моделирования, ТОФИ – среда визуализации, ТОФИ – среда синхронизатор по заказу ТОО Бай Табыс</p></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="content2012" role="tabpanel" aria-labelledby="tab2012">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2012 год</h4>
            <ul>
                <li><p>«Услуги по развитию и сопровождению информационно-аналитической системы управления регионом (ИАСУР)» по заказу ГУ «Аппарат акима Восточно-Казахстанской области» </p></li>
                <li><p>«Разработка методики комплексной оценки территорий страны и регламента сбора первичных данных Генеральной схемы организации территорий РК» по заказу Астанинский филиал РГП на праве хозяйственного ведения «КазНИИССА» Агенства РК по делам строительства и жилищно-коммунального хозяйства </p></li>
                <li><p>«Разработка ИС «Аналитический центр Акима Алматинской области» по заказу ТОО «Бай Табыс»</p></li>
                <li><p>«Услуги по разработке и внесению корректировок в технико-экономическое обоснование проекта «Создание интегрированной автоматизированной информационной системы «е-Минфин» по заказу АО «НИТ» </p></li>
                <li><p>«Услуги по оценке состояния конкуренции на рынке услуг подъездных путей для определения необходимости тарифного регулирования уполномоченным органом» по заказу АО «Кедентранссервис» </p></li>
                <li><p>«Услуги по созданию системы сбора данных для Технологии ТОФИ» по заказу ТОО Rating» </p></li>
                <li><p>«Услуги по развитию и сопровождению информационно-аналитической системы управления регионом (ИАСУР)» по заказу ТОО Rating» </p></li>
                <li><p>«Разработка информационной системы "Алгоритм комплексной оценки"» по заказу ООО «Ситек» </p></li>
                <li><p>«Психология религиозно-политического экстремизма и терроризма: мировой опыт и прикладные задачи противодействия в современном Казахстане» по заказу ГУ МОН РК </p></li>
                <li><p>«Совершенствование методологии и разработка инструмента технологии моделирования и мониторинга состояний сложных систем ТОФИ» по заказу ГУ МОН РК </p></li>
                <li><p>«Услуги по внедрению ИС для анализа, оценки ситуации и помощи в принятии решения» по заказу АО «Транстелеком» </p></li>
                <li><p>«Услуги по разработке программы развития информационных технологий» по заказу АО «КазТрансОйл» </p></li>
                <li><p>«Услуги по разработке, согласованию и утверждению нормативов численности административно-управленческого персонала АО "ДТЖ"» по заказу АО «ДТЖ» </p></li>
                <li><p>«Услуга по сопровождению информационной системы «Аналитический комплекс Администрации Президента Республики Казахстан» по заказу АО «Инженерно-технический центр»</p></li>
                <li><p>Услуги по расчету тарифа и тарифных смет на регулируемые услуги ТОО «Транспортный холдинг Казахстана»</p></li>
                <li><p>Услуги по предоставлению лицензий на исползование «Технология моделирования и мониторинга сложных систем - ТОФИ» по заказу ТОО «Бай Табыс»</p></li>
                <li><p>«ТОФИ – среда моделирования, ТОФИ – среда визуализации» по заказу ТОО Бай Табыс</p></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="content2011" role="tabpanel" aria-labelledby="tab2011">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2011 год</h4>
            <ul>
                <li><p>«Технология моделирования и мониторинга  состояний сложных систем – ТОФИ» по заказу АО «Институт экономических исследований» </p></li>
                <li><p>«Проведение семинаров по семинару повышения квалификации на тему Технология моделирования и мониторинга  состояний сложных систем – ТОФИ» по заказу АО «Институт экономических исследований» </p></li>
                <li><p>Разработка нормативов трудоемкости на проведение ремонта железнодорожного грузового подвижного состава (капитальный, деповский, текущий) по заказу ТОО «Қамқор Вагон» </p></li>
                <li><p>«Разработка и внедрение «Информационно – аналитической системы управления регионам Восточно – Казахстанской области» по заказу ГУ «Аппарат акима  Восточно – Казахстанской области» </p></li>
                <li><p>«Услуга по сопровождению информационной системы «Аналитический комплекс Администрации Президента Республики Казахстан» по заказу АО «Инженерно-технический центр» Управления делами Президента РК(2011г); </p></li>
                <li><p>«Методика комплексной оценки территорий страны и регламента сбора первичных данных Генеральной схемы организации территории РК» по заказу Астанинский филиал РГП на праве хозяйственного ведения «КазНИИССА» Агенства РК по делам строительства и жилищно-коммунального хозяйства </p></li>
                <li><p>«Методика территориально-пространственной оценки государственных, отраслевых и региональных программ развития территорий для градостроительного планирования и создание прототипа АИС «ГСОТ РК» по заказу Астанинский филиал РГП на праве хозяйственного ведения «КазНИИССА» Агентства РК по делам строительства и жилищно-коммунального хозяйства </p></li>
                <li><p>«Услуги по сбору исходных данных, анализу и оценке современного состояния инженерной, туристской и транспортно-коммуникационной инфраструктуры территории Республики Казахстан, в том числе по анализу отечественного опытов стратегического планирования и сравнительная оценка современного состояния и прогноз развития промышленности, сельского хозяйства, инженерной, энергетической, туристической, экспорто-импортной, транспортно-коммуникационной и социальной инфраструктуры на территории Республики Казахстан» по заказу ТОО «ПРОГНОЗ Казахстан» </p></li>
                <li><p>«Разработка норм трудоемкости по капитальному ремонту, техническому обслуживания специального подвижного состава» по заказу ТОО «Камкор Локомотив»              </p></li>
                <li><p>«Разработка методики расчета норм потребности материалов, инструментов, приборов, инвентаря, запасных частей на эксплуатацию стальных и полиэтиленовых газораспределительных сетей АО «КазТрансГаз Аймак» по заказу АО «КазТрансГаз Аймак» </p></li>
                <li><p>«Услуги по разработке и внедрению ИС Методанные на 2011 год» по заказу РГП «ИВЦ Агентства РК по статистике» </p></li>
                <li><p>«Разработка комплексного плана инвестиционного проекта «Расширение и модернизация тепличного хозяйства площадью 20 га» по заказу ТОО «Алем-Тагам» </p></li>
                <li><p>«Разработка технико-экономического обоснования «Внедрение Единой автоматической системы коммерческого учета коммунальных услуг, путем увеличения уставного капитала ТОО «Астана-ЕРЦ» по заказу ТОО «НИИЭТЭ» </p></li>
                <li><p>Подготовка документации: 1) Руководство по системам и модулям, 2) руководство администратора по заказу ТОО «Юнивер-Сервис» </p></li>
                <li><p>«Разработка механизма синхронизации информационных моделей и баз данных с использованием SDMX формата обмена данными» по заказу АО «Национальный инновационный фонд» </p></li>
                <li><p>Проведение семинара по курсу повышения квалификации на тему «Методика по определению трудозатрат на создание информационных систем» по заказу АО «Центр подготовки, переподготовки и повышения квалификации специалистов органов финансовой системы»</p></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="content2010" role="tabpanel" aria-labelledby="tab2010">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2010 год</h4>
            <ul>
                <li><p>«Разработка методики расчета тарифов на услуги ТОО «Қамқор Вагон» по капитальному, деповскому и текущему видам ремонта, ремонту колесных пар колеи 1520 мм, с проведением промежуточной ревизии» по заказу ТОО «Қамқор Вагон» </p></li>
                <li><p>«Разработка методики расчета тарифов на услуги технического  обслуживания и капитального ремонта локомотивов ТОО «Камкор Локомотив» по заказу ТОО «Қамқор Локомотив» </p></li>
                <li><p>«Разработка технических разделов нормативно-технических документов в сфере теплоснабжения и газоснабжения по заказу АО «Казахстанский центр модернизации и развития жилищно-коммунального хозяйства»</p></li>
                <li><p>«Разработка и внедрение АИС «Расчет себестоимости добычи и цены реализации природного газа» по заказу АО «КазТрансГаз» </p></li>
                <li><p>«Организация комплекса работ по анализу фактического исполнения плана формирования грузоперевозок по заказу АО «НК «КТЖ» </p></li>
                <li><p>«Создание информационной системы «Аналитический комплекс Администрации Президента Республики Казахстан» - 2 этап по заказу АО «Инженерно-технический центр» Управления делами Президента РК </p></li>
                <li><p>Создание и внедрение трех подсистем автоматизированной системы управления финансово – хозяйственной деятельности Управления делами Президента Республики Казахстан в пилотной зоне АО «Инженерно-технический центр» по заказу АО «Инженерно-технический центр» Управления делами Президента РК </p></li>
                <li><p>«Технический аудит финансовых и экономических отчетов и существующей технологии АСУ «Экспресс-3» по заказу АО «НК «КТЖ» </p></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="content2009" role="tabpanel" aria-labelledby="tab2009">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2009 год</h4>
            <ul>
                <li><p>«Услуги по проведению финансовой экспертизы деятельности                ТОО «Иволга Холдинг» Костанайская область по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по проведению финансовой экспертизы деятельности                 АО «Международный аэропорт Шымкент» по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по проведению финансовой экспертизы деятельности                  АО «Аэропорт Коркыт Ата» по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по проведению финансовой экспертизы деятельности                ТОО «Пешковский КХП» Костанайская область по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по проведению финансовой экспертизы деятельности РГП «Есил Су» по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по проведению финансовой экспертизы деятельности                ТОО «Павлодар Водоканал» по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по проведению финансовой экспертизы деятельности                  АО «Жезказган Эйр» по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по проведению финансовой экспертизы деятельности акционерного общества «Аэропорт Сарыарка» по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по разработка методики  расчета себестоимости услуг магистральной железнодорожной сети с учетом рода грузов, рода перевозок, типа подвижного состава, категории поезда, маршрутизации по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по разработка методики расчета тарифов на регулируемые услуги железнодорожных путей с объектами железнодорожного транспорта, оказываемые по договору концессии по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по исследованию и прогнозированию тенденций изменения структуры спроса и предложения на рынке труда города Астаны по заказу ГУ Управление занятости и социальных программ города Астаны </p></li>
                <li><p>«Услуги по проведению финансовой экспертизы деятельности                 АО «Интергаз Центральная Азия» по заказу АО «Интергаз Центральная Азия» </p></li>
                <li><p>«Услуги по созданию информационной системы «Аналитический комплекс Администрации Президента Республики Казахстан» - 1 этап по заказу   АО «Инженерно-технический центр»</p></li>
                <li><p>«Услуги независимых консультантов по вопросу оптимизации деятельности ТОО «Амангельды Газ» 100%-й дочерней компании             АО «КазТрансГаз» по заказу АО «КазТрансГаз» </p></li>	
            </ul>
          </div>
          <div class="tab-pane fade" id="content2008" role="tabpanel" aria-labelledby="tab2008">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2008 год</h4>
            <ul>
                <li><p>«Услуги по разработке методики расчета трудоемкости в сфере информационных технологий» по заказу РГП на праве хозяйственного ведения «Центр технического сопровождения и анализа в области телекоммуникаций» Агентства РК по информатизации и связи </p></li>
                <li><p>«Услуги по теме «Количественное моделирование синусоидально изменяющихся динамических спектров задачи инфракрасной спектроскопии» по заказу РГКП «Евразийский национальный университет им.Л.Н.Гумилева» МОН РК </p></li>
                <li><p>«Услуги по теме «Методы теории специальных экспоненциально убывающих по модулю функций и пикообразных функций, применяемых в двумерном корреляционном анализе для спектральных сигналов» по заказу РГКП «Евразийский национальный университет им.Л.Н.Гумилева» МОН РК </p></li>
                <li><p>«Услуги по разработке профиля компетенций» по заказу                         АО «НК «Қазақстан темір жолы» - «Центр оценки и развития персонала железнодорожного транспорта» </p></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="content2007" role="tabpanel" aria-labelledby="tab2007">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2007 год</h4>
            <ul>
                <li><p>«Услуги по проектно–изыскательским работам на развитие информационных систем АО «НК «Қазақстан темір жолы»» по заказу       АО «Казахский научно-исследовательский институт информационных технологий» </p></li>
                <li><p>«Техническое обслуживание и сопровождение WEB сайта» по заказу Счетный комитет по контролю за исполнением республиканского    бюджета </p></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="content2006" role="tabpanel" aria-labelledby="tab2006">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2006 год</h4>
            <ul>
                <li><p>«Проведение финансовой экспертизы деятельности АО «Горэлектросеть» (Экибастуз) по заказу АРЕМ РК </p></li>
                <li><p>«Услуги по разработке программного обеспечения по расчету эластичности спроса по группам потребителей услуг на основе инструментальной среды моделирования и мониторинга состояний сложных объектов ТОФИ-8» по заказу ТОО «НИИ и ЭТТ»  </p></li>
                <li><p>«Разработка и внедрение «Информационной системы «Болашак» по заказу АО «Центр международных программ» по заказу АО «Центр международных программ» </p></li>
                    
            </ul>
          </div>
          <div class="tab-pane fade" id="content2005" role="tabpanel" aria-labelledby="tab2005">
            <h4 class="pb-4 mb-4 border-bottom">Проекты за 2005 год</h4>
            <ul>
                <li><p>«Проведение анализа динамики тарифов естественных монополий в Республике Казахстан» по заказу АРЕМ РК </p></li>
                <li><p>«Проведение экспертных оценок возможности применения разных уровней тарифов на регулируемую услугу в сфере водохозяйственной и канализационных систем в зависимости от объема оказания данной услуги субъектом естественной монополий» по заказу АРЕМ РК </p></li>										
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


<style>
    .nav-tabs-vertical {
      border: none;
    }

    .nav-tabs-vertical .nav-link {
      display: block;
      border: none;
      border-radius: 0;
      padding: 10px;
      text-align: center;
    }

    .nav-tabs-vertical .nav-link.active {
      background-color: orange; /* Optional: Highlight active tab */
    }
  </style>
{% endblock %}