{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container">
  <div id="work_area" style="width: 80%; margin: 0 auto;">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Научные исследования</li>
      </ol>
    </nav>

    <h1 style="margin-bottom: 20px;">Научные исследования</h1>
    <div itemscope itemtype="http://schema.org/Organization">
        Научные исследования
        Научные исследования
        Научные исследования
        Научные исследования
        Научные исследования
        Научные исследования
    </div>

  </div>
</section>


{% endblock %}